<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/probeta.css">

<div class="container">

    <h1>Probeta 3</h1>

    <h2>Elementos seleccionados: <%= nelem %></h2>

    <div class="row">
        <div class="col-md-6 col-6">
            <h3>Deformación</h3>
            <% for (let i in defIterada){ %>
                <p><%= defIterada[i] %></p>
                <hr>
            <% } %>
        </div>
        <div class="col-md-6 col-6">
            <h3>MPA</h3>
            <% for (let i in mpaIterada){ %>
                <p><%= mpaIterada[i] %></p>
                <hr>
            <% } %>
        </div>
    </div>
</div>

<div class="azul">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="chart_div"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="gif" src="/img/1.gif" width="400" height="150">
        </div>

        <div class="col-md-6">
            <img class="gif" src="/img/2.gif " width="400" height="150">
        </div>
    </div>

</div>

<script> 
    var grafica = [<%=grafica%>];
    console.log(grafica);
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Defromación');
      data.addColumn('number', 'MPA');

      data.addRows(grafica);

      var options = {
        hAxis: {
          title: 'Deformación MM',
           textStyle: {
            color: '#01579b',
            fontSize: 20,
            fontName: 'Arial',
            bold: true,
            italic: true
          },
          titleTextStyle: {
            color: '#1a237e',
            fontSize: 24,
            bold: true
          }
        },
        vAxis: {
          title: 'MPA',
          textStyle: {
            color: '#01579b',
            fontSize: 20,
            fontName: 'Arial',
            bold: true,
            italic: true
          },
          titleTextStyle: {
            color: '#1a237e',
            fontSize: 24,
            bold: true
          }
        },
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }

</script>

<% include ../partials/footer %>