<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/landing.css">

<div class="container">

<h1>Nombre del Proyecto</h1>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg" href="#"><p>Probeta 1</p></a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-success btn-lg" href="#"><p>Probeta 2</p></a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-danger btn-lg" href="#"><p>Probeta 3</p></a>
    </div>
</div>

</div>

<% include partials/footer %>