footer{
    margin-top: 5%;
    width: 100%;
    background-color: white;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 800px){
    img#enseñar-img{
        width: 300px;
        height: 100px;
    }
}