div.col-6 {
    border: 1px solid gray;
}

div#chart_div{
    width: 1000px;
    height: 600px;
    margin-bottom: 5%;
}
 
@media screen and (max-width: 800px){
    div#chart_div{
        width: 400px;
        height: 200px;
    }

    img.gif{
        width: 200px;
        height: 100px;
    }
}

div.sticky-bar {
    border: 2px solid gray;
    width: 400px;
    height: 20px;
    background-color: gray;
}   


h1,h2{
    margin-top: 2%;
    margin-bottom: 2%;
}

div.azul{
    background-color: #E4E4E4;
}