<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/probeta.css">

<div class="container">

    <h1>Probeta 1</h1>

    <h2>Elementos seleccionados: <%= nelem %></h2>

    <% var deformacion= []; %>
    <% for (let i=0; i<parseInt(nelem); i++){ %>
        <% deformacion.push(def[i]) %>
    <% } %>

    <% var MPA = []; %>
    <% for (let i=0; i<parseInt(nelem); i++){ %>
        <% MPA.push(mpa[i]) %>
    <% } %>

    <div class="row">
        <div class="col-md-6 col-6">
            <h3>Deformación</h3>
            <% for (let i in deformacion){ %>
                <p><%= deformacion[i] %></p>
                <hr>
            <% } %>
        </div>
        <div class="col-md-6 col-6">
            <h3>MPA</h3>
            <% for (let i in MPA){ %>
                <p><%= MPA[i] %></p>
                <hr>
            <% } %>
        </div>
    </div>

    <div id="chart_div"></div>

</div>

<script>

    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'Deformación');

        var n=<%= nelem %>;
            data.addRows([
                [0, 0],   [1, 10],  [2, 23],  [3, 17],  [4, 18],  [5, 9],
                [6, 11],  [7, 27],  [8, 33],  [9, 40],  [10, 32], [11, 35],
                [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
                [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
                [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
                [30, 55], [31, 60], [32, 61], [33, 59]
            ]);

        var options = {
            hAxis: {
            title: 'Deformación'
            },
            vAxis: {
            title: 'MPA'
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
        }
</script>

<% include ../partials/footer %>